@font-face {
    font-family: muli-bold;
    src: url(../fontes/Muli-Bold.ttf);
}

@font-face {
    font-family: muli-regular;
    src: url(../fontes/Muli-Regular.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(../fontes/Lato-Regular.ttf);
}

@font-face {
    font-family: metropolis;
    src: url(../fontes/Metropolis-SemiBold.otf);
}

$primary-color: #A9C5BA;
$font-color-1: #707070;
$font-color-2: #000000;
$font-color-img: #ffffff;


